[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
pre-commit = "*"
gitchangelog = "*"
pytest = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
pandas = "*"
numpy = "*"
folium = "*"
geopandas = "*"
bumpversion = "*"

[packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
