[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
pre-commit = "*"
gitchangelog = "*"
pytest = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
pandas = "*"
numpy = "*"
folium = "*"
geopandas = "*"
bumpversion = "*"
pystache = "*"
autopep8 = "*"
yapf = "*"
ipython-cypher = "*"

[packages]
py2neo = "*"
neo4j = "*"
flask = "*"
flask-graphql = "*"
graphene = "*"
coverage = "*"
maya = "*"
progress = "*"
ipython = "*"
pytest = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
